htcondor/
bing_search/
predictions/
bing_search_bp/
bing_search_bp2/
mmlu/
model_predictions/
benchmarks/
reports/.DS_Store
reports/*.html
__pycache__/
.DS_Store
.vscode/
perplexity/pics
pics/ppl_pics
blogs/